@model UserLoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";    
}
<style>
    .texto-com-borda {
        color: orange!important; 
        font-weight:bold;
    }
</style>


<div class="login-container">
    <div class="d-flex justify-content-center mb-4">
        <img src="~/imagens/logo-vet-card.svg" alt="Logo" class="mb-4" height="150">
    </div>
    <div class="separator"></div>
    <form method="post">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text p-3"><i class="fas fa-user fa-fw"></i></span>
                </div>
                <input asp-for="Login" type="text" class="form-control" placeholder="Username" aria-label="Username" autofocus>
            </div>
            <span asp-validation-for="Login" class="text-danger texto-com-borda"></span>
            <div class="input-group pt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text p-3"><i class="fas fa-lock fa-fw"></i></span>
                </div>
                <input asp-for="Password" type="password" class="form-control" placeholder="Digite sua senha">
                <div class="input-group-append">
                    <span class="input-group-text p-3 color-eye">
                        <i class="fa fa-fw fa-eye toggle-password" id="toggle-password"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger texto-com-borda"></span>
        </div>    
        <a href="@Url.Action("RestorePassword")" class="txt-white">Esqueceu sua senha?</a>
        <div class="separator"></div>
        <div class="login-button">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toggle-password').click(function () {
                let input = $('#Password');
                let icon = $(this);
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>
}