@model UserLoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .texto-com-borda {
        color: orange !important;
        font-weight: bold;
    }
</style>


<div class="login-container">
    <div class="d-flex justify-content-center mb-4">
        <img src="~/imagens/logo-vet-card.svg" alt="Logo" class="mb-4" height="150">
    </div>
    <h3 class="txt-white text-center">Redefinir senha</h3>
    <div class="separator"></div>
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text p-3"><i class="fas fa-lock fa-fw"></i></span>
                </div>
                <input asp-for="PasswordNew" type="password" class="form-control" placeholder="Nova senha" aria-label="Username" autofocus>
                <div class="input-group-append">
                    <span class="input-group-text p-3">
                        <i class="fa fa-fw fa-eye toggle-password" data-toggle="#PasswordNew"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="PasswordNew" class="text-danger texto-com-borda"></span>
            <div class="input-group pt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text p-3"><i class="fas fa-lock fa-fw"></i></span>
                </div>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirme sua senha">
                <div class="input-group-append">
                    <span class="input-group-text p-3">
                        <i class="fa fa-fw fa-eye toggle-password" data-toggle="#ConfirmPassword"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger texto-com-borda"></span>
        </div>        
        <div class="separator"></div>
        <div class="login-button">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.toggle-password').click(function () {
                let input = $($(this).data('toggle'));
                let icon = $(this);
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>
}