@model UserLoginVM
@{
    ViewData["Title"] = "Recuperar senha";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .texto-com-borda {
        color: orange !important;
        font-weight: bold;
    }
</style>


<div class="login-container">
    <div class="d-flex justify-content-center mb-4">
        <img src="~/imagens/logo-vet-card.svg" alt="Logo" class="mb-4" height="150">
    </div>
    <h3 class="txt-white text-center">Encontre seu conta</h3>
    <div class="separator"></div>
    <form id="myForm">
        <label class="txt-white">Insira seu CPF ou e-mail para procurar a sua conta.</label>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text p-3"><i class="fas fa-user fa-fw"></i></span>
                </div>
                <input asp-for="Login" type="text" class="form-control" placeholder="Username" aria-label="Username" autofocus>
            </div>
            <span asp-validation-for="Login" class="text-danger texto-com-borda"></span>
        </div>
        <div class="separator"></div>
        <b id="message"></b>
        <div class="login-button">
            <button type="submit" id="Send" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#myForm').on('submit', function (event) {
            $("#Send").attr("disabled")
            event.preventDefault();
            var login = $("#Login").val()
            if(login.length > 0){
                Ajax(login)
            }
        });

        function Ajax(login) {
            $.post('@Url.Action("RestorePassword")', { "login": login }, function (response) {
                if (response.includes("**")) {
                    $("#message").removeClass().addClass("text-info")                    
                } else{
                    $("#message").removeClass().addClass("text-warning")
                }
                $("#message").text(response);
                $("#Send").removeAttr("disabled")
            });
        }
    </script>
}