@model RecordVM
@{
    ViewData["Title"] = "Cadastrar Prontuário";
    ViewData["Caminho"] = "<li>Prontuário</li><li>Cadastrar Prontuário</li>";
}
<div class="container-fluid">
    <form asp-action="Index" method="post" id="formRecord">
        <input type="hidden" asp-for="Id" />
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        function AjaxForm() {
            var data = $("#formRecord").serialize();

            $.post('@Url.Action("AjaxForm")', data, function (response) {
                $("#formRecord").html(response);
                $('.field-validation-error').text('');
            });
        }

        $(() => {
            AjaxForm();
        });
    </script>
}