@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<table>
    <tr>
        <td>SDF SDF SD</td>
        <td> ASDF SD</td>
        <td>AS DFSADF</td>
        <td>S DFSDF</td>
        <td>S DFSDFDS</td>
    </tr>
</table>

