@model ICollection<PaymentHistoryVM>
@{
    ViewData["Title"] = "Histórico pagamento";
    ViewData["Caminho"] = "<li>Histórico pagamento</li>";
}

<partial name="_MonitoringPartial" model="Model" view-data="ViewData">