@{
    ViewData["Title"] = "início";
}

<style>
    .float-end {
        background: #AABD24;
        border-radius: 0.25rem;
    }

    .widget-icon {
        color: #485107;
        font-size: 20px;
        background-color: 114, 124, 245;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 3px;
        display: inline-block;
    }

    *, ::after, ::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mdi-set, .mdi:before {
        display: inline-block;
        font: normal normal normal 24px / 1 "Material Design Icons";
        font-size: inherit;
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .mdi-account-multiple::before {
        content: "\f000e";
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-account-multiple widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Tutores</h5>
                    <h3 class="mt-3 mb-3">120</h3>
                    <p class="mb-0 text-muted">
                        <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                        <span class="text-nowrap">Desde o último mês.</span>
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
        
        <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-cart-plus widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Vendas</h5>
                        <h3 class="mt-3 mb-3">40</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
                            <span class="text-nowrap">Desde o último mês.</span>
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
         </div>

        <div class="col-xl-3 col-lg-3">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-currency-usd widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Receita</h5>
                        <h3 class="mt-3 mb-3">R$ 6,254</h3>
                        <p class="mb-0 text-muted">
                            <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
                            <span class="text-nowrap">Desde o mês passado.</span>
                        </p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-pulse widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Growth">Crescimento</h5>
                    <h3 class="mt-3 mb-3">+ 30.56%</h3>
                    <p class="mb-0 text-muted">
                        <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
                        <span class="text-nowrap">Desde o mês passado.</span>
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card card-h-100">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Projections Vs Actuals</h4>
                </div>
                <div class="card-body pt-0">
                    <div>
                        <canvas class="my-4 h-15" id="bar"> </canvas>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        const ctx = document.getElementById('bar').getContext('2d');;

        const myChart = new Chart(ctx, {
            type: 'bar', // Escolha o tipo de gráfico desejado (por exemplo, 'bar', 'line', 'pie', etc.)
            data: {
                labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'], // Seus rótulos de dados
                datasets: [{
                    label: 'Vendas',
                    data: [12, 19, 3, 5, 2, 12, 19, 3, 5, 2, 7, 5], // Seus dados                    
                    borderWidth: 1 // Largura da borda,
                    
                }]
            },
            options: {
                responsive: true // Torna o gráfico responsivo
            }
        });

        // const xx = document.getElementById('pie').getContext('2d');;

        // const myChart2 = new Chart(xx, {
        //     type: 'pie', // Escolha o tipo de gráfico desejado (por exemplo, 'bar', 'line', 'pie', etc.)
        //     data: {
        //         labels: [], // Seus rótulos de dados
        //         datasets: [{
        //             label: 'Vendas',
        //             data: [12, 19, 3, 5, 2, 12, 19, 3, 5, 2, 7, 5], // Seus dados                    
        //             borderWidth: 1 // Largura da borda,
        //         }]
        //     },
        //     options: {
        //         responsive: true // Torna o gráfico responsivo
        //     }
        // });

    </script>
}
