@model GuardianVM
@await Html.PartialAsync("_ValidationScriptsPartial")
@{
    Layout = null;
}


<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class=" col-sm-12">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Escreva o Nome..." autofocus />
        <span asp-validation-for="Name"></span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-6">
        <label asp-for="CPF"></label>
        <input type="text" class="form-control cpf-mask" asp-for="CPF" placeholder="Escreva o CPF..." autofocus />
        <span asp-validation-for="CPF"></span>
        <span id="valida-cpf" class="text-danger fw-bold d-none">CPF inválido.</span>
    </div>
    <div class="col-sm-4">
        <label asp-for="DateBirth"></label>
        <input type="text" class="form-control date-mask" asp-for="DateBirth" placeholder="Escreva a Data de Nascimento..." autofocus />
        <span asp-validation-for="DateBirth"></span>
        <span id="valida-data" class="text-danger fw-bold d-none">Data inválida.</span>
    </div> 
</div>
<div class="row mt-2">
    <div class="col-sm-6">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Escreva o e-mail..." autofocus />
        <span asp-validation-for="Email"></span>            
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-12">
                <label asp-for="Phone"></label>
                <input type="text" class="form-control phone-mask" asp-for="Phone" placeholder="Escreva o Telefone..." autofocus />
                <span asp-validation-for="Phone"></span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-5">
        <label asp-for="CEP"></label>
        <input type="text" class="form-control cep-mask" asp-for="CEP" placeholder="Escreva o CEP..." autofocus />
        <span asp-validation-for="CEP"></span>
    </div>    
</div>
<div class="row mt-2">
    <div class="col-sm-8">
        <label asp-for="City"></label>
        <input type="text" class="form-control" readonly asp-for="City" placeholder="Escreva a Cidade..." autofocus />
        <span asp-validation-for="City"></span>
    </div>
    <div class="col-sm-4">
        <label asp-for="State"></label>
        <input type="text" class="form-control" readonly asp-for="State" placeholder="Escreva a Estado..." autofocus />
        <span asp-validation-for="State"></span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-9">
        <label asp-for="Address"></label>
        <input type="text" class="form-control" asp-for="Address" placeholder="Escreva o Endereço..." autofocus />
        <span asp-validation-for="Address"></span>
    </div>
    <div class="col-sm-3">
        <label asp-for="Number"></label>
        <input type="text" class="form-control" asp-for="Number" placeholder="Escreva o Número..." autofocus />
        <span asp-validation-for="Number"></span>
    </div>
</div>  
<div class="row mt-2">
    <div class="col-sm-6">
        <label asp-for="Neighborhood"></label>
        <input type="text" class="form-control" asp-for="Neighborhood" placeholder="Escreva o Bairro..." autofocus />
        <span asp-validation-for="Neighborhood"></span>
    </div>    
    <div class="col-sm-6">
        <label asp-for="Unit"></label>
        <input type="text" class="form-control" asp-for="Unit" placeholder="Escreva o complemento..." />        
    </div>
</div>