@model ProcedureVM

@{
    Layout = null;
}

<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class=" col-sm-6">
        <label asp-for="Description"></label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Escreva o procedimento..." autofocus />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="col-sm-6">
        <label asp-for="GroupId"></label>
        <select asp-for="GroupId" class="form-control select2" data-dropdown-parent="#modal" asp-items="Model.GroupList">
            <option disabled selected>Selecione</option>
        </select>
        <span asp-validation-for="GroupId"></span>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")