@using PetShopCRM.Web.Util
<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @* <link rel="icon" type="image/x-icon" sizes="32x32" href="~/imagens/logo-vet-card.png"> *@
    <title>Pet Shop</title>
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<body>
    @RenderBody()
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/SignalR.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        @if (NotificationUtil.Stack.Count > 0)
        {
            foreach (string item in NotificationUtil.Stack.Reverse())
            {
                var a = item;
                @:  @Html.Raw(a)
            }
            NotificationUtil.Stack.Clear();
        }
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".preloader").fadeOut();
        });
    </script>
    @RenderSection("Scripts", required: false)
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>