@model PetVM
@await Html.PartialAsync("_ValidationScriptsPartial")
@{
    Layout = null;
}


<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class=" col-sm-6">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Escreva o Nome do Pet..." autofocus />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="col-sm-6">
        <label asp-for="Identifier"></label>
        <input type="text" class="form-control" asp-for="Identifier" placeholder="Escreva o número do chip..." autofocus />
        <span asp-validation-for="Identifier"></span>
    </div>
 
</div>
<div class="row mt-2">

    <div class="col-sm-6">
        <label asp-for="GuardianId"></label>
        <select asp-for="GuardianId" class="form-control select2" data-dropdown-parent="#modal" asp-items="Model.GuardianList">
            <option disabled selected>Selecione</option>            
        </select>
        <span asp-validation-for="GuardianId"></span>
    </div>


    <div class="col-sm-6">
        <label asp-for="SpecieId"></label>
        <select asp-for="SpecieId" class="form-control select2" data-dropdown-parent="#modal" asp-items="Model.SpecieList">
            <option disabled selected>Selecione</option>
        </select>
        <span asp-validation-for="SpecieId"></span>
    </div>
</div>